<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="/assets/custom/css/2bstaff.css">
      <title>2B-KMUTT Scoring System</title>
  </head>
  <body>
    <div class="background-image">
    </div>
    <div class="container">
      <div class="collection">
        <div class="collection-item">
          <div class="row center-align"><h1 class="red-text text-accent-1">ฐานที่: <%= base%></h1></div>
          <input type="hidden" id="base" value="<%= base%>">
          <% for(i=1;i<=5;i++){ %>
          <div class="row">
            <div class="card">
              <div class="card-content">
                <span class="card-title">Section: <%= i%></span>
              </div>
              <div class="card-action">
                <div class="row">
                  <div class="btn waves-effect waves-light green successful col s12" section="<%= i%>" id="btn-successful-<%= i%>">Successful</div>
                </div>
              </div>
            </div>
          </div>
          <% } %>

        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="/assets/custom/js/client.js"></script>
  </body>
</html>
